.square {
  background-color: coral;
  min-width: 40vh;

  min-height: 20vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  color: white;
  font-size: 2vh;
}
